
.line-calendar-description{
	width:800px;
	margin: 20px auto;
	font-family: Lato;
	font-size:14px;
}

.line-calendar-description h1{
	font-size:28px;
}

.line-calendar-description h2{
	font-size:20px;
}

.line-calendar {
	min-width:800px;
	width:600px;
	font-family: Lato;
	font-size: 14px;
	position:relative;
}

.line-calendar-first-column{
    display: inline-block;
    width: 15%;
    box-sizing: border-box;
    position: relative;
    top: -11px;
    height: 25px;

    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.line-calendar-first-column.overbook, .line-divider.overbook {
    background-color: #524A4A;
    color: white;
}

.line-calendar-second-column{
	display: inline-block;
	width: 85%;
}

.line-calendar ul.days, .line-calendar ul.line{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 0px;
}

.line-calendar ul.divider {
    height: 5px;
    margin-top: -4px;
}

.line-calendar ul.days li, .line-calendar ul.line li{
	display: inline-block;
	width: 3.225806452%;
	text-align: center;
	box-sizing: border-box;
	border-right:1px solid lightgray;
	border-bottom:1px solid lightgray;
	position:relative;
	overflow: hidden;
}

.line-calendar ul.line li.hover-single-day{
	box-shadow: inset 0px 0px 2px black;
	cursor: pointer;
}

.line-calendar ul.line li.in-range{
	box-shadow: none;
}

.line-calendar ul.line li{
	min-height:25px;
}

.line-calendar ul.line.divider li {
    min-height: 4px !important;
    height: 5px;
    overflow: visible;
}

.line-calendar ul.line li.in-range{
	border-right:0;
}

.line-calendar ul.line li.invisible-date{
	display: none;
}

.line-calendar ul.line li div.overlay-date{
	background-color: rgba(150, 150, 150, .4);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}

.line-calendar ul.line li img.source-image{
	max-width: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1000;
}

.line-calendar ul.line li.single-day + li.weekend-date{
	border-right:0;
}

.line-calendar ul.line li.weekend-date div.overlay-date/*, 
.line-calendar ul.line li.today-date div.overlay-date,
.line-calendar ul.line li.selected-date div.overlay-date*/{
	display: block;
}

.line-calendar ul.line li.line-calendar-1thcolumn{
	width:100px;
}

.line-calendar ul.line li .line-label{
	text-transform: uppercase;
}

.line-calendar .line-container.showToday  ul.line li.today-date div.overlay-date,
.line-calendar .line-container.showCurrentDate ul.line li.selected-date div.overlay-date{
  display:block;
	background-color: rgba(0, 0, 0, .4);
}

.line-calendar ul.line li.other-month-date{
	border-right: 0px;
}

/*
.line-calendar ul.line li.no-border-right,

.line-calendar ul.line li.other-month-date:last-child{
	border-right: 1px solid lightgray;
}*/

/*.line-calendar .calendar-description { 
	margin-left: 25px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2); 
	color:white;
}*/

.line-calendar .calendar-description { 
	/*margin-left: 0px; */
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
	color:white;
	/*font-weight: bold;*/
	font-size:16px;
	z-index: 1000;
}

.single-day.CONFIRMED{
	background-color: #53b939;
}

.single-day.ENQUIRY, .single-day.INQUIRY{
	background-color: #ffdf1a;
}

.single-day.BLOCKED_BY_OWNER{
	background-color: #98b8ff;
}

.single-day.BLOCKED_BY_AGENCY{
	background-color: #ffd6d6;
}

.line-calendar ul.days span{
	text-align: center;
}

.line-calendar ul.days li .day-name{
	display: block;
}

.line-calendar ul.days li .day-date{
	display: block;
}

.single-day.start-range:before,
.single-day.end-range + .single-day:after{
	border-style: solid;
	top: 50%;
	left: 40%;
	margin: -100px;
	position: absolute;
	content: "";
}

.line-calendar ul.line li.start-range{background-color: white;}

.line-calendar ul.line li.start-range:before{border-width: 0 0 277px 160px;}
.single-day.end-range + .single-day:after{border-width: 277px 154px 0px 0px;}

.line-calendar ul.line li.start-range.BLOCKED_BY_OWNER:before{
	border-bottom-color:#98b8ff;
	border-left-color: transparent;
}

.line-calendar ul.line li.start-range.BLOCKED_BY_AGENCY:before{
	border-bottom-color:#ffd6d6;
	border-left-color: transparent;
}

.line-calendar ul.line li.start-range.CONFIRMED:before{
	border-bottom-color:#53b939;
	border-left-color: transparent;
}

.line-calendar ul.line li.start-range.ENQUIRY:before, .line-calendar ul.line li.start-range.INQUIRY:before{
	border-bottom-color: #ffdf1a;
	border-left-color: transparent;
}

.line-calendar ul.line li.single-day.end-range.BLOCKED_BY_OWNER + .single-day:after{
	border-top-color:#98b8ff;
	border-right-color:transparent;
}

.line-calendar ul.line li.single-day.end-range.BLOCKED_BY_AGENCY + .single-day:after{
	border-top-color:#ffd6d6;
	border-right-color:transparent;
}

.line-calendar ul.line li.single-day.end-range.CONFIRMED + .single-day:after{
	border-top-color:#53b939;
	border-right-color:transparent;
}

.line-calendar ul.line li.single-day.end-range.ENQUIRY	 + .single-day:after,
.line-calendar ul.line li.single-day.end-range.INQUIRY	 + .single-day:after{
	border-top-color:#ffdf1a;
	border-right-color: transparent; 
}