<div class="jumbotron text-center">
  <h1>General Calendar</h1>
  <div class="calendar-container">
    <div class="calendar-buttons" style="height:70px;display:block;position:relative;">
      <md-button class="md-raised" ng-click="ctrl.initialCalendar()" ng-show="ctrl.calendarButtonsDisplayed"> Today </md-button>
      <md-datepicker ng-model="ctrl.datepickerDate" md-placeholder="Select a Date" ng-change="ctrl.selectDate()" 
                     ng-show="ctrl.calendarButtonsDisplayed"></md-datepicker>
      
      <md-progress-circular ng-show="!ctrl.calendarButtonsDisplayed"
                            class="md-hue-1" 
                            style="position:absolute;top:-30px;left:50%;margin-left:-20px;" 
                            md-diameter="40px">
      </md-progress-circular>

      <md-button class="md-raised" style="float:right;" ng-click="ctrl.nextSelectedDay()" 
                 ng-show="ctrl.calendarButtonsDisplayed"> Next Page </md-button>
      <md-button class="md-raised" style="float:right;" ng-click="ctrl.prevSelectedDay()" 
                 ng-show="ctrl.calendarButtonsDisplayed"> Previous Page </md-button>
    </div>

    <div id="calendar-around-current-date" class="line-calendar" style="width:1000px;display:block;margin:0 auto;"></div>
  </div>
</div>

<style>
.pricing{
  background-color:green !important;
  color: white !important;
  opacity:1;
}

.notPricing{
  background-color: gray !important;
  color:white !important;
  opacity:.5;
}

.icondisabled{
  opacity:.4;
}
</style>

<script type="text/ng-template" id="AdminModal.html">
  <md-dialog class="admin-dialog" style="width:650px;">
    <md-dialog-content style="padding:30px;">
      <h3 style="text-transform:capitalize;" ng-show="reservationDetail.guest.name.length+reservationDetail.guest.surname.length > 0">
        {{reservationDetail.guest.name}} {{reservationDetail.guest.surname}}<br/>
        <small style="color:silver">{{reservationDetail.propertyTitle}}</small>
      </h3>
      <h3 style="text-transform:capitalize;" ng-show="reservationDetail.guest.name.length+reservationDetail.guest.surname.length == 0">
        No Name<br/>
        <small style="color:silver">{{reservationDetail.propertyTitle}}</small>
      </h3>
      
      <form name="reservationDetailForm">
        <div layout layout-sm="column" style="margin-left:-20px;">
          <md-datepicker  class="checkin-container"
                          ng-model="reservationDetail.checkin" 
                          ng-change="checkinChanged()" 
                          md-placeholder="Checkin" 
                          aria-disabled="true"></md-datepicker>
                          
          <md-input-container md-no-float class="md-block checkin-time-container" style="margin-top:0;margin-bottom:0;height:64px;">
            <md-icon md-svg-src="/images/icons/time.svg" style="left: 10px;top: 14px;"></md-icon>
            <div smt-value="reservationDetail.checkinTime"
                 class="smart-time" smt-name="time.name" smart-form="reservationDetailForm" smart-time=""></div>
          </md-input-container>
        </div>
        <div layout layout-sm="column" style="margin-left:-20px;margin-top:-13px">
          <md-datepicker ng-model="reservationDetail.checkout" class="checkout-container"
                           ng-change="checkoutChanged()" 
                           md-min-date = "reservationDetail.checkin"
                           md-placeholder="Checkout" aria-disabled="true"></md-datepicker>
          <md-input-container md-no-float class="md-block checkout-time-container" style="margin-top:0;margin-bottom:0;height:37px;">
            <md-icon md-svg-src="/images/icons/time.svg" style="left: 10px;top: 14px;"></md-icon>
            <div smt-value="reservationDetail.checkoutTime"
                 class="smart-time" smt-name="time.name" smart-form="reservationDetailForm" smart-time=""></div>
          </md-input-container>
          
          <!--<md-input-container flex class="checkout-time-container">
            <div smt-value="reservationDetail.checkoutTime" 
                 class="smart-time" smt-name="time.name" smart-form="reservationDetailForm" smart-time=""></div>
          </md-input-container>-->
        </div>
        
        <div layout layout-sm="column">
          <md-input-container flex>
            <md-select ng-model="reservationDetail.id_reservationStatus" aria-label="status">
              <md-option ng-repeat="status in reservationStatuses" ng-value="{{status.id_reservationStatus}}">
                <span style="text-transform:capitalize;">{{status.description}}</span>
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        
        <md-tabs md-dynamic-height md-border-bottom class="popup-admin-tabs">
          <md-tab label="Customer">
            <md-content class="md-padding">
              <div layout layout-sm="column">
                <md-input-container class="md-block">
                  <label>Client Name</label>
                  <input ng-model="reservationDetail.guest.name" type="text" style="width:227px">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Client Surname</label>
                  <input ng-model="reservationDetail.guest.surname" type="text">
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container class="md-block">
                  <label>Client Email</label>
                  <input ng-model="reservationDetail.guest.email" type="text" style="width:227px">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Client Telephone</label>
                  <input ng-model="reservationDetail.guest.telephone" type="text">
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container class="md-block" style="width:130px;">
                  <label>Adults</label>
                  <input ng-model="reservationDetail.resGuestInfos.adultsNumber" type="text">
                </md-input-container>
                <md-input-container class="md-block" style="width:130px;">
                  <label>Childs</label>
                  <input ng-model="reservationDetail.resGuestInfos.childsNumber" type="text">
                </md-input-container>
                <md-input-container class="md-block" style="width:130px;">
                  <label>Babies</label>
                  <input ng-model="reservationDetail.resGuestInfos.babiesNumber" type="text">
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container class="md-block" style="width:462px">
                  <label>Note</label>
                  <textarea ng-model="reservationDetail.note" columns="1" rows="5"></textarea>
                </md-input-container>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Pricing Detail">
            <md-content class="md-padding" style="padding-top:30px;">
              <div layout layout-sm="column" style="margin-bottom:15px;">
                <strong style="display:inline;">Total: </strong>&nbsp;{{reservationDetail.total}}<br/><br/>
              </div>
              <div layout layout-sm="column" style="margin-bottom:15px;">
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Rent revenue</label>
                  <md-icon ng-class="{icondisabled: !enablePricingUpdates}" md-svg-src="/images/icons/currencies/euro.svg"></md-icon>
                  <input ng-disabled="!enablePricingUpdates" ng-model="reservationDetail.price" type="text">
                </md-input-container>
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Rent Revenue Note</label>
                  <input ng-model="reservationDetail.rrNote" type="text">
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Cleaning fee</label>
                  <md-icon ng-class="{icondisabled: !enablePricingUpdates}" md-svg-src="/images/icons/currencies/euro.svg"></md-icon>
                  <input ng-disabled="!enablePricingUpdates" ng-model="reservationDetail.cleaningFee" type="text">
                </md-input-container>
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Cleaning Fee Note</label>
                  <input ng-model="reservationDetail.cfNote" type="text">
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Channel commission</label>
                  <md-icon ng-class="{icondisabled: !enablePricingUpdates}" md-svg-src="/images/icons/currencies/euro.svg"></md-icon>
                  <input ng-disabled="!enablePricingUpdates" ng-model="reservationDetail.channelCommission" type="text">
                </md-input-container>
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Commission Note</label>
                  <input ng-model="reservationDetail.ccNote" type="text">
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Tourist Tax</label>
                  <md-icon ng-class="{icondisabled: !enablePricingUpdates}" md-svg-src="/images/icons/currencies/euro.svg"></md-icon>
                  <input ng-disabled="!enablePricingUpdates" ng-model="reservationDetail.touristTax" type="text">
                </md-input-container>
                <md-input-container class="md-block md-icon-float md-has-icon">
                  <label>Tourist Tax Note</label>
                  <input ng-model="reservationDetail.ttNote" type="text">
                </md-input-container>
              </div>
              <md-button ng-show="!waitingForSave" ng-click="pricing()" class="md-raised md-primary" style="float:left;" 
                ng-class="{pricing: enablePricingUpdates, notPricing: !enablePricingUpdates}">
                Pricing {{ (enablePricingUpdates ? "ON" : "OFF" ) }}
              </md-button>
            </md-content>
          </md-tab>
        </md-tabs>
      </form>
      <div class="md-actions" style="border:none;">
        <md-progress-circular ng-show="waitingForSave" class="md-hue-1" style="float:right;" md-diameter="40px">
        </md-progress-circular>
        <md-button ng-show="!waitingForSave" ng-click="saveReservation()" class="md-raised md-primary"
                   ng-disabled="reservationDetail.guest.name.length+reservationDetail.guest.surname.length == 0">
          Save
        </md-button>
        <md-button ng-show="!waitingForSave" ng-click="closeDialog()" class="md-raised">
          Cancel
        </md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>