<style>
  .angular-google-map-container { height: 600px; }
  md-grid-tile-footer figcaption{ overflow: hidden; }
  md-grid-list md-grid-tile md-grid-tile-footer, md-grid-list md-grid-tile md-grid-tile-header{background:rgba(255, 255, 255, 0.90);}
  md-grid-tile{ border: 1px solid silver; }
  
  
  md-dialog.announcementsettings-dialog h3{
    position: absolute;background-color: white;width: 760px;z-index: 1000;left: 0;
    padding-left: 24px;border-bottom: 2px solid black;padding-bottom: 20px;top: 0;padding-top: 20px;
  }
  md-dialog.announcementsettings-dialog form{margin-top:55px;}
  md-dialog.md-content-overflow .md-actions{border-top:0px;}
  md-dialog.announcementsettings-dialog .md-actions{
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 781px;
    background-color: white;
    border-top: 2px solid black;}
  
  md-dialog.announcementsettings-dialog .md-actions button.md-raised.md-primary{ position:absolute; left:0; }
  
</style>
<div class="jumbotron text-center">
  <h1>Properties Management</h1>
  <p>{{ message }}</p>
  
  <md-tabs md-selected="selectedIndex" md-swipe-content=false md-border-bottom md-autoselect md-dynamic-height>
    <md-tab label="List" md-swipe-right="alert('ciao')">
      <md-progress-circular md-mode="indeterminate" md-diameter="20" ng-show="ctrl.loadingAnnouncements"></md-progress-circular>
      <div ng-show="!ctrl.loadingAnnouncements">
        <br/>
        <md-grid-list class="listings"
                      md-cols-sm="2" md-cols-gt-sm="2" md-cols-gt-md="3" md-cols-gt-lg="4"
                      md-row-height="162px"
                      md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
          <md-grid-tile
                        ng-repeat="property in ctrl.properties"
                        ng-style="{
                                  'background': '#eefcff'
                                  }"
                        md-colspan-gt-sm="1"
                        md-rowspan-gt-sm="1">          
            <md-grid-tile-header>
              <h4>
                <a ng-click="ctrl.showAddressModal(property)" style="cursor:pointer">
                  <img src="/images/icons/location-cyan.png" height="16" />
                </a>
                <a ng-click="ctrl.announcementSettings(property)" style="cursor:pointer">
                  <img src="/images/icons/detail-cyan.png" height="16" />
                </a>
                <a ng-click="ctrl.channelManagersConfiguration(property)" style="cursor:pointer;margin-left:20px;">
                  <img src="/images/icons/associations-cyan.png" height="16" />
                </a>
                <a ng-click="ctrl.announcementChannelsSettings(property)" style="cursor:pointer">
                  <img src="/images/icons/channel-fees-settings-cyan.png" height="16" />
                </a>
              </h4>
              <h4 style="position: absolute;top: 16px;right: 12px;color: #62C1D3;display: inline-block;text-align: right;">
                <b>code:</b>&nbsp;<span>{{property.id_announcement}}</span>
              </h4>
            </md-grid-tile-header>
            <md-grid-tile-body><b>{{property.title}}</b></md-grid-tile-body>
            <md-grid-tile-footer><h4 style="overflow:hidden;text-overflow: ellipsis;">{{ctrl.getFormattedAddress(property)}}</h4></md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </md-tab>
    <md-tab label="View on Map" md-on-select="ctrl.mapTabSelected()" id="uhm">
      <div style="position:relative;">
        <form>
          <img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-22-24.png" 
               style="right: 14px;position: absolute;height: 20px !important;width: 20px !important;top: 51px;z-index: 9999;"
               ng-show="ctrl.fullAddress != ''"
               ng-click="ctrl.resetFullAddress()"
               >
          <md-input-container style="position:absolute; width:400px; right:10px; top: 24px; z-index: 999; background-color:white;padding-bottom:0px;">
            <label style="font-size:17px;">Search an Address</label>
            <input id="searchAnAddress" ng-model="ctrl.fullAddress" style="font-size:17px;">
          </md-input-container>
        </form>
        <ui-gmap-google-map 
                            events="ctrl.map.events"
                            center='ctrl.map.center' 
                            bounds='ctrl.map.bounds'
                            zoom='ctrl.map.zoom' 
                            control='ctrl.map.control' 
                            style='padding:10px;'
                            class="col-sm-5 hidden-xs auto-height map-container">
          <ui-gmap-markers
                           models='ctrl.markers'
                           fit="false"
                           coords="'coords'"
                           icon="'icon'"
                           options="'options'"
                           click="'onClick'">
            <ui-gmap-windows show="'show'">
              <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </md-tab>
    <md-tab label="Setting Builder" md-on-select="ctrl.mapTabSelected()" id="form-builder">
      <div style="padding-top:20px;">
        <div ng-repeat="field in ctrl.formBuilt" layout layout-sm="column">
          <md-input-container style="width:500px;">
            <label>Description</label>
            <input ng-model="field.description" type="text">
          </md-input-container>
          <md-input-container style="width:300px;">
            <label>Label</label>
            <input ng-model="field.label" type="text">
          </md-input-container>
          <!--<md-input-container style="width:200px;">
            <label>Name</label>
            <input ng-model="field.name" type="text">
          </md-input-container>-->
          <md-button aria-label="Remove" ng-click="ctrl.addFieldFromBuiltForm($index, false)" style="width: 24px; padding-top: 12px;">
            <img src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Add-128.png" style="height:36px;"/>
          </md-button>
          <md-button aria-label="Remove" ng-click="ctrl.removeFieldFromBuiltForm($index)" style="width: 24px; padding-top: 12px;">
            <img src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Cancel-128.png" style="height:36px;"/>
          </md-button>
        </div>
        <div class="md-actions">
          <md-progress-circular ng-show="ctrl.waitingForSave" class="md-hue-1" style="float:left;margin-top:-25px" md-diameter="30px">
          </md-progress-circular>
          <md-button ng-show="!ctrl.waitingForSave" style="float:left" ng-click="ctrl.saveLayoutBuiltForm()" class="md-raised md-primary">
            Save Layout
          </md-button>
          
          <md-button ng-click="ctrl.addFieldInBuiltForm()" style="float:left" class="md-raised">
            Add Field
          </md-button>
          
        </div>
      </div>
    </md-tab>
  </md-tabs>
  
  <!--<div class="row" ng-repeat="property in ctrl.properties">
    <h3>
        <a><img src="/images/icons/circle_edit-cyan-128.png" height="16" /></a>
        <a ng-click="ctrl.showAddressModal(property)"><img src="/images/icons/location-cyan.png" height="16" /></a>
        {{property.title}}
        <small style="color:#62C1D3"><b>local property code:</b>&nbsp;<span>{{property.id_announcement}}</span></small>
      </h3>
  </div>-->
</div>

<script type="text/ng-template" id="AnnouncementModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{modal.result.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
          Announcement Datas
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="saveInformations()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="AddressModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{modal.result.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
          Address Datas
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="saveInformations()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="ChannelManagersModal.html">
  <md-dialog class="channelmanager-dialog" style="max-width:380px">
    <md-dialog-content style="padding:30px;">
      <h3>Channel Manager Configuration</h3>
      <form name="channelManagerAssociations">
        <div class="container">
          <md-checkbox class="md-primary" ng-repeat="chm in channelManagers"
                       ng-disabled="chm.disabled" ng-model="chm.activated" aria-label="checkbox"
                       style="display:inline-block;">
            {{chm.name}}
          </md-checkbox>
        </div>
        
        <h4>Pay Attention</h4>
        <p>
          <small>
            <strong>Unselecting</strong> a Channel Manager the System will delete all data associations. 
            <u>The reservation imported before from that channel manager will not deleted</u>.
          </small>
        </p>
        <p>
          <small><strong>Selecting</strong> a new Channel Manager the System will query remote servers for the data association update.</small>
        </p>
        <p>
          <small>For the completion of each transaction, the system may take a few minutes of waiting</small>
        </p>
      </form>
      <div class="md-actions">
        <md-button ng-click="updateConfiguration()" class="md-raised md-primary">
        Save
        </md-button>
        <md-button ng-click="closeDialog()" class="md-raised">
        Close
        </md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="AnnouncementSettingsModal.html">
  <md-dialog class="announcementsettings-dialog" style="width:800px">
    <md-dialog-content>
      <h3>{{announcement.title}} <small style="color:silver">Announcement Settings</small></h3>
      <form name="formBuilt">
        <md-input-container ng-repeat="field in fields" style="width:350px !important;float:left;">
          <!--<label></label>-->
          <input ng-model="field.value" aria-label="field" md-placeholder="{{field.label}}" tooltips title="{{field.label}}" style="height:20px;">
          <div style="max-width:350px;">
            <md-checkbox
              ng-model="field.isValid"
              aria-label="Is Valid"
              class="md-primary md-align-top-left" style="margin:0px;">
            <div style="max-width:324px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display:inline-block;">
              <small style="color:silver;" tooltips title="{{field.label}}">{{field.description}}</small>
            </div>
          </div>
        </md-input-container>
        <div style="height:1px;float: left;clear: left;margin-bottom: 15px;"><div></div></div>
      </form>
      <div class="md-actions">
        <md-button ng-click="updateSettings()" class="md-raised md-primary">
          Save
        </md-button>
        <md-button ng-click="closeDialog()" class="md-raised">
          Close
        </md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="AnnouncementChannelSettingsModal.html">
  <md-dialog class="channels-dialog" style="width:600px;">
    <md-dialog-content>
      <h3>{{announcement.title}} <small style="color:silver">Rules</small></h3>
      <!-- ONLY FOR NEW RULE -->
      <form>
      <div ng-show="announcement.isNewRule">
        <md-input-container style="padding-bottom:0px;">
            <label>Rentopolis commission (eg. 25 stay for 25%)</label>
            <input ng-model="announcement.newRule.rentopolisCommission">
          </md-input-container>
        <md-input-container style="padding-bottom:0px;">
          <label>Cleaning Fee</label>
          <input ng-model="announcement.newRule.cleaning">
        </md-input-container>
        <md-input-container style="padding-bottom:0px;">
          <label>Expedia cleaning fee</label>
          <input ng-model="announcement.newRule.expediaCleaning">
        </md-input-container>
        <md-input-container style="padding-bottom:0px;">
          <label>Booking.com commission</label>
          <input ng-model="announcement.newRule.bookingcomCommission">
        </md-input-container>
        <md-input-container style="padding-bottom:0px;">
          <label>Valid From</label>
          <input ng-model="announcement.newRule.validFrom">
        </md-input-container>
        <div style="height:1px;margin-top:20px;margin-bottom:10px;border-bottom: 2px dashed black;box-sizing: border-box;"></div>
      </div>
      <div>
        <div ng-repeat="rule in announcementChannelSettings" style="width:350px !important;">
          <strong><span style="color:silver;">Rule valid from </span>{{rule.validFrom}}</strong>
          <md-input-container style="padding-bottom:0px;">
            <label>Rentopolis commission (eg. 25 stay for 25%)</label>
            <input ng-model="rule.rentopolisCommission" disabled>
          </md-input-container>
          <md-input-container style="padding-bottom:0px;">
            <label>Cleaning Fee</label>
            <input ng-model="rule.cleaning" disabled>
          </md-input-container>
          <md-input-container style="padding-bottom:0px;">
            <label>Expedia cleaning fee</label>
            <input ng-model="rule.expediaCleaning" disabled>
          </md-input-container>
          <md-input-container style="padding-bottom:0px;">
            <label>Booking.com commission</label>
            <input ng-model="rule.bookingcomCommission" disabled>
          </md-input-container>
        </div>
        <div style="height:1px;float: left;clear: left;margin-bottom: 15px;"><div></div></div>
      </form>
      <div class="md-actions" style="clear:left;">
        <md-button ng-click="deleteLastRule()" ng-show="faseAdd" class="md-raised md-warn" style="margin-right:100px;">
          Delete Last Rule
        </md-button>
        <md-button ng-click="addRule()" ng-show="faseAdd" class="md-raised md-primary">
          Add
        </md-button>
        <md-button ng-click="saveRule()" ng-show="!faseAdd" class="md-raised md-primary">
          Save
        </md-button>
        <md-button ng-click="closeDialog()" class="md-raised">
          Close
        </md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>

<!-- 
<md-list>
<md-list-item class="md-3-line" ng-repeat="property in ctrl.properties">
<div class="md-list-item-text" layout="column">
<h3>
<a><img src="/images/icons/circle_edit-cyan-128.png" height="16" /></a>
{{property.title}} <small style="color:#62C1D3"><b>local code:</b>&nbsp;<span>{{property.id_announcement}}</span></small>
</h3>
<p>
<a ng-click="ctrl.showAddressModal(property)" style="cursor:pointer"><img src="/images/icons/location-cyan.png" height="16" /></a>
<span style="color:silver">{{ ctrl.getFormattedAddress(property) }}</span>
</p>
</div>
</md-list-item>
</md-list>-->