<div class="jumbotron text-center">
  <h1>Calendars</h1>

  <div class="line-calendar-description">
		<h1>Mese selezionato</h1>
		<p>
			Selezionato un mese, il calendario potrà renderizzare in modo aggregato tutti gli appartamenti e le loro prenotazioni. Il calendario con linee omogenee è importante per i property managers. VREasy per esempio lo utilizza con questa impostazione di omogeneità (le linee condividono lo stesso range di date).
		</p>
	</div>

	<div id="calendar-single-month" class="line-calendar" style="display:block;margin:0 auto;"></div>

	<div class="line-calendar-description">
		<h1>Rispetto una data</h1>
		<p>
			Il prospetto precedente è molto utile quando si vuole poter analizzare l'intera vista di un mese. Quando però si ha la necessità di vedere un prospetto futuro in funzione a una data precisa, quando quest'ultima ricade nella seconda metà del suo mese, la vista precedente risulta inefficace.
			<br/>
			Da impostazioni è dunque possibile configurare anche questo aspetto: selezionata una data e un offset, il calendario mostrerà il prospetto desiderato. Nel prossimo esempio il calendario mostrerà i dati avendo la data di oggi sempre in sesta posizione. 
		</p>
		<p>
			Il prossimo esempio è quello più vicino a VREasy, in quanto quest'ultimo tiene fissa una data, quella corrente, muovendo dinamicamente con il passare dei giorni il calendario. Permette sempre di vedere i checkin della giornata attuale e dei prossimi 20/30 giorni senza dover spostare il mese.
		</p>
	</div>

	<div id="calendar-around-date" class="line-calendar" style="display:block;margin:0 auto;"></div>

	<div class="line-calendar-description">
		<h1>Linee eterogenee</h1>
		<p>
			Le linee del calendario sono dinamiche e possono avere un loro sotto-calendario, questo ci permette di poter avere prospetti futuri selezionando un appartamento. 
			Per esempio 6 linee ciascuna rappresentante un mese, di seguito i sei mesi a seguire da quello corrente.
		</p>
		<p>
			Questa impostazione è perfetta per i proprietari ed è fornita fino adesso dal calendario di <strong>Kigo</strong>, mostrando per un unico appartamento il prospetto nei mesi successivi.
		</p>
	</div>

	<div id="apartment1" class="line-calendar" style="display:block;margin:0 auto;"></div>

	<div class="line-calendar-description">
		<h1>Sovrapposizioni di range</h1>
		<p>
			Un altro problema sorto è quello della inconsistenza dei dati. Il gestionale non può fidarsi di alcuna sorgente e per motivi esterni avverranno importazioni che genereranno ridondanza e inconsistenza dei dati. Il calendario purificherà i range scorporando eventuali sovrapposizioni, duplicando le linee affinché sia rispettato questo assunto: ogni linea del calendario compone un insieme di range totalmente disgiunti tra loro. Le linee duplicate avranno lo stesso campo descrittivo e saranno evidenziate con un altro colore.
		</p>
		<p>
			La gestione degli overbooking è molto utile per noi property managers, tuttavia le linee duplcate saranno nascoste ai proprietari (quella di visualizzarli è solo una impostazione).
		</p>
		<p>
			<small>
				Ho deciso di spostare questa logica nel frontend in quanto il server avrà notevoli richieste dai client per l'acquisizione dei dati e sovraccaricarlo nel risistemarli sarebbe eccesivo, la responsabilità di come vanno a video è del client, non nego che in futuro si possa cambiare idea.
			</small>
		</p>
	</div>

	<div id="apartment2" class="line-calendar" style="display:block;margin:0 auto;"></div>

	<div class="line-calendar-description">
		<h2>Come lo vedono i proprietari</h2>
		<p>
			I dati sono gli stessi dell'esempio precedente, cambia solo la configurazione sulla visibilità degli overbooking.
		</p>
	</div>

	<div id="apartment2-no-overbookings" class="line-calendar" style="display:block;margin:0 auto;"></div>

	<div class="line-calendar-description">
		<h2>Sovrapposizioni per linee omogenee</h2>
		<p>
			La gestione degli overbooking funziona con ogni tipologia di calendario.
		</p>
	</div>

	<div id="calendar-around-date-overbookings" class="line-calendar" style="display:block;margin:0 auto;"></div>

	<br/><br/><br/>
	<div class="line-calendar-description">
		<h1>In fase di sviluppo</h1>
		<p>
			<ul>
				<li>Gestione degli event handler.</li>
				<li>Tooltips grafici.</li>
				<li>Interazioni il server.</li>
			</ul>
		</p>
		<br/><br/><br/><br/><br/><br/>
	</div>

</div>

<script>
		
		var config1 = {
			startFrom: '2015-10-01',
			showWeekends: true,
			showCurrentDate: true,
			label: 'October 2015',
			cells: 31,
			lines: [{
				label: 'Apartment 1',
				startFrom: '2015-10-01',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Luca Ripamonti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-18',
					end: '2015-10-20',
					extra: 'CONFIRMED',
					description: 'Zimmer Trimmer',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-23',
					end: '2015-10-28',
					extra: 'CONFIRMED',
					description: 'Giacomo Biella',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-10-30',
					end: '2015-11-04',
					extra: 'CONFIRMED',
					description: 'Luigi Maio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'Apartment 2',
				startFrom: '2015-10-01',
				ranges:[{
					start: '2015-10-02',
					end: '2015-10-06',
					extra: 'CONFIRMED',
					description: 'Domenico Briganti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-08',
					end: '2015-10-20',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-21',
					end: '2015-10-22',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Confirmed reservation'
				},{
					start: '2015-10-26',
					end: '2015-11-03',
					extra: 'INQUIRY',
					description: 'Luca Cammarano',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-11-04',
					end: '2015-11-10',
					extra: 'INQUIRY',
					description: 'Luca Cammarano',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'Apartment 3',
				startFrom: '2015-10-01',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Federico Iorio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-16',
					end: '2015-10-26',
					extra: 'CONFIRMED',
					description: 'Giuseppe Primo',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-10-27',
					end: '2015-10-30',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				}],
				cells: 31
			}]
		};

		window.c1 = new Calendar("calendar-single-month", config1);

		var config1b = {
			aroundSelectedDate: (new Date()).toISOString().substring(0, 10), //instead startFrom: 'yyyy-mm-dd',
			beforeSelectedDate: 5,
			highLightSelectedDate: false,

			cells: 31,
			showWeekends: true,
			showCurrentDate: true,
			label: 'Around Date',
			lines: [{
				label: 'Apartment 1',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Luca Ripamonti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-18',
					end: '2015-10-20',
					extra: 'CONFIRMED',
					description: 'Zimmer Trimmer',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-23',
					end: '2015-10-28',
					extra: 'CONFIRMED',
					description: 'Giacomo Biella',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-10-30',
					end: '2015-11-04',
					extra: 'CONFIRMED',
					description: 'Luigi Maio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}]
			},{
				label: 'Apartment 2',
				ranges:[{
					start: '2015-10-02',
					end: '2015-10-06',
					extra: 'CONFIRMED',
					description: 'Domenico Briganti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-08',
					end: '2015-10-20',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-21',
					end: '2015-10-22',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Confirmed reservation'
				},{
					start: '2015-10-26',
					end: '2015-11-03',
					extra: 'INQUIRY',
					description: 'Luca Cammarano',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}]
			},{
				label: 'Apartment 3',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Federico Iorio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-16',
					end: '2015-10-26',
					extra: 'CONFIRMED',
					description: 'Giuseppe Primo',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-10-27',
					end: '2015-10-30',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-11-02',
					end: '2015-11-05',
					extra: 'CONFIRMED',
					description: 'Lucia Zebrato',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				}]
			}]
		};

		window.c1b = new Calendar("calendar-around-date", config1b);

		var config2 = {
			startFrom: '2015-10-01',
			showWeekends: true,
			showCurrentDate: true,
			label: 'Apartment 1',
			cells: 31,
			lines: [{
				label: 'October 2015',
				startFrom: '2015-10-01',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Marco Distrutti',
					source: {name: "Expedia", url: "https://www.vreasy.com/img/logos/expedia.png"}
				},{
					start: '2015-10-20',
					end: '2015-10-27',
					extra: 'INQUIRY',
					description: 'Jhon Lennon',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'November 2015',
				startFrom: '2015-11-01',
				ranges:[{
					start: '2015-11-02',
					end: '2015-11-06',
					extra: 'CONFIRMED',
					description: 'Giuseppe Briguglio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-11-08',
					end: '2015-11-20',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the agency'
				},{
					start: '2015-11-21',
					end: '2015-11-22',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Confirmed reservation'
				}],
				cells: 30
			},{
				label: 'December 2015',
				startFrom: '2015-12-01',
				ranges:[{
					start: '2015-12-01',
					end: '2015-12-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-12-04',
					end: '2015-12-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-12-07',
					end: '2015-12-11',
					extra: 'INQUIRY',
					description: 'Alexander Petrosino',
					source: {name: "Expedia", url: "https://www.vreasy.com/img/logos/expedia.png"}
				},{
					start: '2015-12-12',
					end: '2015-12-15',
					extra: 'CONFIRMED',
					description: 'Luca Natale',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-16',
					end: '2015-12-26',
					extra: 'CONFIRMED',
					description: 'Alessandro Fioravanti',
					source: {name: "Expedia", url: "https://www.vreasy.com/img/logos/expedia.png"}
				},{
					start: '2015-12-27',
					end: '2015-12-30',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				}],
				cells: 31
			},{
				label: 'January 2015',
				startFrom: '2016-01-01',
				ranges:[{
					start: '2016-01-01',
					end: '2016-01-04',
					extra: 'INQUIRY',
					description: 'Alessio Pitasi',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-01-06',
					end: '2016-01-07',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2016-01-10',
					end: '2016-01-15',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-01-20',
					end: '2016-01-25',
					extra: 'CONFIRMED',
					description: 'Luca Natale',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-01-26',
					end: '2016-01-27',
					extra: 'CONFIRMED',
					description: 'Alessandro Fioravanti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-01-29',
					end: '2016-01-30',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				}],
				cells: 31
			},{
				label: 'February 2016',
				startFrom: '2016-02-01',
				ranges:[{
					start: '2016-02-08',
					end: '2016-02-09',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2016-02-15',
					end: '2016-02-19',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-02-20',
					end: '2016-02-22',
					extra: 'CONFIRMED',
					description: 'Sebastian Bastiani',
					source: {name: "Expedia", url: "https://www.vreasy.com/img/logos/expedia.png"}
				},{
					start: '2016-02-23',
					end: '2016-02-24',
					extra: 'CONFIRMED',
					description: 'Alessandro Fioravanti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-02-26',
					end: '2016-04-14',
					extra: 'CONFIRMED',
					description: 'Gianbattista Galeazzi',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				}],
				cells: 29
			},{
				label: 'March 2016',
				startFrom: '2016-03-01',
				ranges:[{
					start: '2016-02-26',
					end: '2016-04-14',
					extra: 'CONFIRMED',
					description: 'Gianbattista Galeazzi',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				}],
				cells: 31
			},{
				label: 'April 2016',
				startFrom: '2016-04-01',
				ranges:[{
					start: '2016-02-26',
					end: '2016-04-14',
					extra: 'CONFIRMED',
					description: 'Gianbattista Galeazzi',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				}],
				cells: 30
			}]
		};
		window.c2 = new Calendar("apartment1", config2);


		var config3 = {
			startFrom: '2015-10-01',
			showWeekends: true,
			showCurrentDate: true,
			label: 'Apartment 2',
			cells: 31,
			lines: [{
				label: 'October 2015',
				startFrom: '2015-10-01',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Natalia Ochuzzi',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'November 2015',
				startFrom: '2015-11-01',
				ranges:[{
					start: '2015-11-02',
					end: '2015-11-06',
					extra: 'CONFIRMED',
					description: 'Tesla Francesco',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-11-08',
					end: '2015-11-20',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the agency'
				},{
					start: '2015-11-21',
					end: '2015-11-22',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Confirmed reservation'
				},{
					start: '2015-11-25',
					end: '2015-11-29',
					extra: 'INQUIRY',
					description: 'Alessio Pitasi',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 30
			},{
				label: 'December 2015',
				startFrom: '2015-12-01',
				ranges:[{
					start: '2015-12-01',
					end: '2015-12-05',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-12-12',
					end: '2015-12-19',
					extra: 'CONFIRMED',
					description: 'Luca Natale',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-20',
					end: '2015-12-21',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-12-26',
					end: '2015-12-29',
					extra: 'CONFIRMED',
					description: 'Federico Iorio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-30',
					end: '2015-12-31',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-12-16',
					end: '2015-12-27',
					extra: 'CONFIRMED',
					description: 'Giuseppe Branti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-09',
					end: '2015-12-12',
					extra: 'INQUIRY',
					description: 'Marco Distrutti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-07',
					end: '2015-12-13',
					extra: 'CONFIRMED',
					description: 'Nicolino Primo',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'January 2015',
				startFrom: '2016-01-01',
				ranges:[{
					start: '2016-01-02',
					end: '2016-01-09',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-01-13',
					end: '2016-01-19',
					extra: 'CONFIRMED',
					description: 'Natale Pappalardo',
					source: {name: "Expedia", url: "https://www.vreasy.com/img/logos/expedia.png"}
				},{
					start: '2016-01-20',
					end: '2016-01-25',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-01-26',
					end: '2016-01-27',
					extra: 'INQUIRY',
					description: 'Bianca Di Canito',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-01-29',
					end: '2016-01-30',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2016-01-08',
					end: '2016-01-12',
					extra: 'CONFIRMED',
					description: 'Claudio Distrutti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-30',
					end: '2015-12-31',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency, miao'
				}],
				cells: 31
			},{
				label: 'February 2016',
				startFrom: '2016-02-01',
				ranges:[{
					start: '2016-02-08',
					end: '2016-02-12',
					extra: 'CONFIRMED',
					description: 'Francesca Dimitri',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2016-02-15',
					end: '2016-02-19',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-02-20',
					end: '2016-02-22',
					extra: 'CONFIRMED',
					description: 'Alessandro Bruno',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-02-23',
					end: '2016-02-24',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				}],
				cells: 29
			}]
		};
		window.c3 = new Calendar("apartment2", config3);

		var config3b = {
			startFrom: '2015-10-01',
			showWeekends: true,
			showCurrentDate: true,
			label: 'Apartment 2',
			cells: 31,
			noOverbookings: true,
			lines: [{
				label: 'October 2015',
				startFrom: '2015-10-01',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Natalia Ochuzzi',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'November 2015',
				startFrom: '2015-11-01',
				ranges:[{
					start: '2015-11-02',
					end: '2015-11-06',
					extra: 'CONFIRMED',
					description: 'Tesla Francesco',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-11-08',
					end: '2015-11-20',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the agency'
				},{
					start: '2015-11-21',
					end: '2015-11-22',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Confirmed reservation'
				},{
					start: '2015-11-25',
					end: '2015-11-29',
					extra: 'INQUIRY',
					description: 'Alessio Pitasi',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 30
			},{
				label: 'December 2015',
				startFrom: '2015-12-01',
				ranges:[{
					start: '2015-12-01',
					end: '2015-12-05',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-12-12',
					end: '2015-12-19',
					extra: 'CONFIRMED',
					description: 'Luca Natale',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-20',
					end: '2015-12-21',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-12-26',
					end: '2015-12-29',
					extra: 'CONFIRMED',
					description: 'Federico Iorio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-30',
					end: '2015-12-31',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-12-16',
					end: '2015-12-27',
					extra: 'CONFIRMED',
					description: 'Giuseppe Branti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-09',
					end: '2015-12-12',
					extra: 'INQUIRY',
					description: 'Marco Distrutti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-12-07',
					end: '2015-12-13',
					extra: 'CONFIRMED',
					description: 'Nicolino Primo',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'January 2015',
				startFrom: '2016-01-01',
				ranges:[{
					start: '2016-01-02',
					end: '2016-01-09',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-01-13',
					end: '2016-01-19',
					extra: 'CONFIRMED',
					description: 'Natale Pappalardo',
					source: {name: "Expedia", url: "https://www.vreasy.com/img/logos/expedia.png"}
				},{
					start: '2016-01-20',
					end: '2016-01-25',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-01-26',
					end: '2016-01-27',
					extra: 'INQUIRY',
					description: 'Bianca Di Canito',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-01-29',
					end: '2016-01-30',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2016-01-08',
					end: '2016-01-12',
					extra: 'CONFIRMED',
					description: 'Claudio Distrutti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}],
				cells: 31
			},{
				label: 'February 2016',
				startFrom: '2016-02-01',
				ranges:[{
					start: '2016-02-08',
					end: '2016-02-12',
					extra: 'CONFIRMED',
					description: 'Francesca Dimitri',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2016-02-15',
					end: '2016-02-19',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2016-02-20',
					end: '2016-02-22',
					extra: 'CONFIRMED',
					description: 'Alessandro Bruno',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2016-02-23',
					end: '2016-02-24',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				}],
				cells: 29
			}]
		};
		window.c3b = new Calendar("apartment2-no-overbookings", config3b);

		var config3c = {
			aroundSelectedDate: (new Date()).toISOString().substring(0, 10), //instead startFrom: 'yyyy-mm-dd',
			beforeSelectedDate: 5,
			highLightSelectedDate: false,

			cells: 31,
			showWeekends: true,
			showCurrentDate: true,
			label: 'Around Date',
			lines: [{
				label: 'Apartment 1',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Luca Ripamonti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-18',
					end: '2015-10-20',
					extra: 'CONFIRMED',
					description: 'Zimmer Trimmer',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-17',
					end: '2015-10-30',
					extra: 'CONFIRMED',
					description: 'Zip Laio',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-10-23',
					end: '2015-10-28',
					extra: 'CONFIRMED',
					description: 'Giacomo Biella',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-10-30',
					end: '2015-11-04',
					extra: 'CONFIRMED',
					description: 'Luigi Maio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}]
			},{
				label: 'Apartment 2',
				ranges:[{
					start: '2015-10-02',
					end: '2015-10-06',
					extra: 'CONFIRMED',
					description: 'Domenico Briganti',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-08',
					end: '2015-10-20',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-21',
					end: '2015-10-22',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Confirmed reservation'
				},{
					start: '2015-10-26',
					end: '2015-11-03',
					extra: 'INQUIRY',
					description: 'Luca Cammarano',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				}]
			},{
				label: 'Apartment 3',
				ranges:[{
					start: '2015-10-01',
					end: '2015-10-03',
					extra: 'BLOCKED_BY_OWNER',
					description: 'Blocked by the owner'
				},{
					start: '2015-10-04',
					end: '2015-10-06',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-10-12',
					end: '2015-10-15',
					extra: 'CONFIRMED',
					description: 'Federico Iorio',
					source: {name: "Airbnb", url: "https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico"}
				},{
					start: '2015-10-16',
					end: '2015-10-26',
					extra: 'CONFIRMED',
					description: 'Giuseppe Primo',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				},{
					start: '2015-10-27',
					end: '2015-10-30',
					extra: 'BLOCKED_BY_AGENCY',
					description: 'Blocked by the agency'
				},{
					start: '2015-11-02',
					end: '2015-11-05',
					extra: 'CONFIRMED',
					description: 'Lucia Zebrato',
					source: {name: "Booking", url: "https://www.vreasy.com/img/logos/booking.png"}
				}]
			}]
		};

		window.c3c = new Calendar("calendar-around-date-overbookings", config3c);

	</script>