<div class="jumbotron text-center">
  <h1>Channels</h1>

  <p>{{ message }}</p>
  
  <!--<div tooltips tooltip-title="tip" title="Hey" tooltip-content="<i>Woa!</i>">Tooltip me</div>
  
  <div>
    <div ng-repeat="">
      <img src="{{channel.url}}" style="height:32px;width:32px;float:left;" />
      {{channel.channelName}}
    </div>
  </div>-->
  <style> .channels-grid md-grid-tile-header figcaption{width:100%;} </style>
  <md-grid-list md-cols-sm="2" md-cols-gt-sm="2" md-cols-gt-md="3" md-cols-gt-lg="4"
                md-row-height="162px"
                md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px"
                class="channels-grid">
    <md-grid-tile
                  ng-repeat="channel in ctrl.channelsInReservations"
                  //ng-style="{'background': '#eefcff'}"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">          
      <md-grid-tile-header style="padding-left:15px;font-weight:bold;color:black;background-color:transparent;">
        {{channel.channelName}} 
        <a ng-click="ctrl.rules(channel)" style="float:right;padding-right:15px;cursor:pointer;"
           ng-style="{color: (channel.rulesNumber > 0) ? '#4B9405' : 'silver'}">{{channel.rulesNumber}} Rules</a>
      </md-grid-tile-header>
      <md-grid-tile-body>
        <img src="{{channel.image}}" style="height:32px;">
      </md-grid-tile-body>
      <!-- #797979 -->
      <md-grid-tile-footer style="padding-left:15px;color:#4B9405;background-color:transparent;">
        <b>{{channel.total}}</b> Confirmed reservations
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
  
  <div style="margin-top:20px;margin-bottom:20px;height:1px;background-color:#65c2d4;"></div>
  
  <md-grid-list md-cols-sm="2" md-cols-gt-sm="2" md-cols-gt-md="3" md-cols-gt-lg="4"
                md-row-height="162px"
                md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px"
                class="channels-grid">
    <md-grid-tile
                  ng-repeat="channel in ctrl.channelsWithoutReservations"
                  //ng-style="{'background': '#eefcff'}"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">          
      <md-grid-tile-header style="padding-left:15px;font-weight:bold;color:black;background-color:transparent;">
        {{channel.channelName}}
        <a ng-click="ctrl.rules(channel)" style="float:right;padding-right:15px;cursor:pointer;"
           ng-style="{color: (channel.rulesNumber > 0) ? '#4B9405' : 'silver'}"
           >{{channel.rulesNumber}} Rules</a>
      </md-grid-tile-header>
      <md-grid-tile-body>
        <img src="{{channel.image}}" style="height:32px;">
      </md-grid-tile-body>
    </md-grid-tile>
  </md-grid-list>

</div>

<script type="text/ng-template" id="ChannelsModal.html">
  <md-dialog class="channels-dialog" style="width:600px;">
    <md-dialog-content>
      <h3>{{channel.channelName}} <small style="color:silver">Rules</small></h3>
      <!-- ONLY FOR NEW RULE -->
      <form>
      <div ng-show="channel.isNewRule">
        <div>
        <md-checkbox class="md-primary md-align-top-left" style="margin:0px;"
              ng-model="channel.newRule.cleaningIncluded" aria-label="New rule cleaning fee">
        Cleaning fee included
        </div>
        <div>
        <md-checkbox class="md-primary md-align-top-left" style="margin:0px;"
              ng-model="channel.newRule.channelCommissionIncluded" aria-label="New rule channel commission">
        Booking fee included
        </div>
        <md-input-container style="padding-bottom:0px;">
          <label>Default Commission (eg. 18 stay for 18%)</label>
          <input ng-model="channel.newRule.defaultCommission">
        </md-input-container>
        <md-input-container style="padding-bottom:0px;">
          <label>Valid From</label>
          <input ng-model="channel.newRule.validFrom">
        </md-input-container>
        <div style="height:1px;margin-top:20px;margin-bottom:10px;border-bottom: 2px dashed black;box-sizing: border-box;"></div>
      </div>
      <div>
        <md-input-container ng-repeat="rule in channelRules" style="width:350px !important;float:left;">
          <strong><span style="color:silver;">Rule valid from </span>{{rule.validFrom}}</strong>
          <div style="max-width:350px;margin-top:10px;display:inline-block;">
            <md-checkbox class="md-primary md-align-top-left" style="margin:0px;" disabled
              ng-model="rule.cleaningIncluded" aria-label="Is Valid">
            <span style="color:black;">Cleaning fee included</span>
          </div>
          <div style="max-width:350px;display:inline-block;">
            <md-checkbox class="md-primary md-align-top-left" style="margin:0px;" disabled
              ng-model="rule.channelCommissionIncluded" aria-label="Is Valid">
            <span style="color:black;">Booking Fee included</span>
          </div>
          <div style="max-width:350px;display:inline-block;">
            <input name="lastName" ng-model="rule.defaultCommission" style="width:30px;display:inline-block;" disabled="true">
            <span style="color:black;">Default Commission (eg. 18 stay for 18%)</span>
          </div>
        </md-input-container>
        <div style="height:1px;float: left;clear: left;margin-bottom: 15px;"><div></div></div>
      </form>
      <div class="md-actions" style="clear:left;">
        <md-button ng-click="deleteLastRule()" ng-show="faseAdd" class="md-raised md-warn" style="margin-right:100px;">
          Delete Last Rule
        </md-button>
        <md-button ng-click="addRule()" ng-show="faseAdd" class="md-raised md-primary">
          Add
        </md-button>
        <md-button ng-click="saveNewRule()" ng-show="!faseAdd" class="md-raised md-primary">
          Save
        </md-button>
        <md-button ng-click="closeDialog()" class="md-raised">
          Close
        </md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>