<div class="jumbotron text-center">
  <h1>Dashboard</h1>

  <p>{{ message }}</p>

  <!--<div ag-grid="gridOptions" class="ag-fresh" style="height: 100%;"></div>-->
  
  <p></p>

  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
  
  <p></p>
  
  <md-button>Button</md-button><br/>
  <md-button class="md-primary">Click me</md-button>
  <md-button class="md-raised">
    <md-tooltip>
      Tooltip test
    </md-tooltip>
    Raised Button 
  </md-button>
<md-button ng-disabled="true"> Disabled Button </md-button>
  <p></p>
  
  <div id="pie-chart" style="min-width: 310px; height: 300px; max-width: 600px;"></div>
  
</div>