<div class="jumbotron text-center"> 
  <h1>Grafici</h1>
  
  <div id="business-stock" style="height: 400px; min-width: 310px"></div>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>