<div class="jumbotron text-center">  
  <h1>Prenotazioni</h1>

  <div>
    <div layout="row">
      <div flex style="text-align:center">
        <label flex>Anno:</label>
        <md-select flex ng-model="ctrl.selectedYear" ng-change="ctrl.onChangeSelection()"
                   style="display:inline-block;">
          <md-option ng-repeat="year in ctrl.yearsSelection" value="{{year.id}}">
            {{year.value}}
          </md-option>
        </md-select>
      </div>
      <div flex style="text-align:center">
        <label flex>Mese:</label>
        <md-select flex ng-model="ctrl.selectedMonth" ng-change="ctrl.onChangeSelection()"
                   style="display:inline-block;">
          <md-option ng-repeat="month in ctrl.monthsSelection" value="{{month.id}}">
            {{month.value}}
          </md-option>
        </md-select>
      </div>
      <div flex style="text-align:center">
        <label flex>Mesi:</label>
        <md-select flex ng-model="ctrl.totalMonths" ng-change="ctrl.onChangeSelection()"
                   style="display:inline-block;">
          <md-option ng-repeat="tm in ctrl.totalMonthsSelection" value="{{tm.id}}">
            {{tm.id}}
          </md-option>
        </md-select>
      </div>
      <div flex style="text-align:center">
        <!--<label flex>Appartamento:</label>-->
        <md-select flex ng-model="ctrl.selectedApartment" ng-change="ctrl.onChangeSelection()"
                   style="min-width:160px;display:inline-block;">
          <md-option ng-repeat="apartment in ctrl.apartments" value="{{apartment.id}}">
            {{apartment.value}}
          </md-option>
        </md-select>
      </div>
    </div>
  </div>

  <div style="left:50%;position:relative;margin-left:-253px;width:506px;margin-top:18px;">
    <div style="background-color:#53b939;padding-left:20px;display:inline;margin-right:10px;"></div>
    <div style="display:inline;margin-right:20px;">Confermato</div>
    <div style="background-color:#ffd6d6;padding-left:20px;display:inline;margin-right:10px;"></div>
    <div style="display:inline;margin-right:20px;">Bloccato da Rentopolis</div>
    <div style="background-color:#98b8ff;padding-left:20px;display:inline;margin-right:10px;"></div>
    <div style="display:inline;margin-right:20px;">Bloccato da te</div>
  </div>
  
  <md-progress-circular ng-show="ctrl.showProgress" md-mode="indeterminate" md-diameter="96" style="display:block;margin:0 auto;"></md-progress-circular>
  <div class="calendar-container" ng-show="!ctrl.showProgress"></div>
  
  <!--  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Grafici">
      <md-content class="md-padding">
        
      </md-content>
    </md-tab>
    <md-tab label="I miei Calendari">
      <md-content class="md-padding">
        
      </md-content>
    </md-tab>
</md-tabs>-->
</div>
<style>
   .homeowner-checkin input,  .homeowner-checkout input{ width: 263px; }
</style>
<script type="text/ng-template" id="HomeownerModal.html">
  <md-dialog class="admin-dialog" style="min-width:290px; padding:30px;">
    <md-dialog-content style="overflow-x:hidden;">
      <h3>Gestisci i tuoi blocchi</h3>
      <form name="reservationDetailForm">
        <div layout layout-sm="column">
          <label flex>From</label>
          <label flex>To</label>
        </div>
        <div layout layout-sm="column">
            <md-datepicker flex
                           class="checkin-container"
                           ng-model="reservationDetail.checkin"  
                           ng-change="checkinChanged()" 
                           ng-disabled = "!waitingForSave && !hasNotCode"
                           aria-disabled="true"></md-datepicker>
                           
            <md-datepicker flex
                           class="checkout-container"
                           ng-model="reservationDetail.checkout" 
                           ng-change="checkoutChanged()" 
                           md-min-date = "minDate"
                           ng-disabled = "!waitingForSave && !hasNotCode"
                           aria-disabled="true"></md-datepicker>
        </div> 
      </form>
      <div class="md-actions" style="margin-top:50px;">
        <md-progress-circular ng-show="waitingForSave" class="md-hue-1" style="float:right;" md-diameter="40px">
        </md-progress-circular>
        
        <md-button ng-show="!waitingForSave && !hasNotCode" ng-click="cancelReservation()" class="md-raised md-warn">
        Elimina Blocco
        </md-button>
        <md-button ng-show="!waitingForSave && hasNotCode" ng-click="saveReservation()" class="md-raised md-primary">
        Blocca
        </md-button>
        <md-button ng-show="!waitingForSave" ng-click="closeDialog()" class="md-raised">
        Chiudi
        </md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="HomeownerReservationModal.html">
  <md-dialog class="admin-dialog" style="min-width:390px;min-height:340px;padding:30px;">
    <md-dialog-content style="overflow-x:hidden;">
      <h3 style="text-transform:capitalize">
        {{showReservationDetail.description}} 
        <small style="color:#4A9305;">{{showReservationDetail.propertyTitle}}</small>
      </h3>
      <form name="showReservationDetailForm">
        <div layout layout-sm="column">
          <label flex>Check-in</label>
          <label flex>Check-out</label>
        </div>
        <div layout layout-sm="column">
            <md-datepicker flex ng-model="showReservationDetail.checkin" disabled="true" aria-disabled="true"></md-datepicker>
            <md-datepicker flex ng-model="showReservationDetail.checkout" disabled="true" aria-disabled="true"></md-datepicker>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex class="md-input-has-value">
            Notti:<br/> <strong>{{showReservationDetail.nights}}</strong>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex class="md-input-has-value">
            Adulti:<br/> <strong>{{showReservationDetail.resGuestInfos.adultsNumber}}</strong>
          </md-input-container>
          <md-input-container flex class="md-input-has-value">
            Bambini (sotto i 12 anni):<br/> <strong>{{showReservationDetail.resGuestInfos.childsNumber}}</strong>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex class="md-input-has-value">
            Quanto guadagno: <strong style="color:#4A9305;">{{showReservationDetail.earnings}} €</strong>
          </md-input-container>
        </div>
      </form>
      <div class="md-actions">
        <md-button ng-show="!waitingForSave" ng-click="closeDialog()" class="md-raised">
          Close
        </md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>