
<div class="jumbotron text-center">
  <h1>Statistiche</h1>
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <label>Anno:&nbsp;</label>
        <md-select ng-model="ctrl.selectedYear">
          <md-option ng-repeat="year in ctrl.years" value="{{year.y}}">
            {{year.y}}
          </md-option>
        </md-select>
      </div>
    </md-toolbar>
  </md-content>
</div>