<md-button ui-sref-active="active" ui-sref="{{section.state}}" ng-click="focusSection(section.state)">
  {{section.name}}
  <span class="md-visually-hidden" ng-if="isSelected()">current page</span>
</md-button>