<md-button class="md-button-toggle" ng-click="toggle()" 
           aria-controls="side-menu-{{section.id}}" flex layout="row" aria-expanded="{{isOpen()}}">{{section.name}}
     <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" ng-class="{\'toggled\' : isOpen()}"></span>
</md-button>
<ul ng-show="isOpen()" id="side-menu-{{section.id}}" class="menu-toggle-list">
    <li ng-repeat="page in section.pages">
        <menu-link section="page"></menu-link>
    </li>
</ul>